body{
    background-color: red;
    color: white;
}
#tupian{
    background-image: url(../images/manhua.png);
    width:466px;
    height:453px;
    transform: rotate(45deg);
}

.textClass{
    background: blue;
    font-size: 30px;
    font-weight: bold;
}

#title{
    text-shadow: 5px 5px 5px #FF0000;
}